<div class="container mt-5">
  <form>
    <div class="form-group row justify-content-center">
      <label for="evnviornment" class="col-sm-2 col-form-label"
        >Environment</label
      >
      <div class="col-3">
        <select class="form-control" id="evnviornment" #environment>
          <option>Dev</option>
          <option>qa</option>
          <option>uat</option>
          <option>prod</option>
        </select>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="trackingId" class="col-sm-2 col-form-label">Tracker Id</label>
      <div class="col-3">
        <input type="number" class="form-control" id="trackingId" #trackingId />
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="status" class="col-sm-2 col-form-label">Status</label>
      <div class="col-3">
        <select class="form-control" id="status" #Status>
          <option>Completed</option>
          <option>Error</option>
        </select>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <button
        type="button"
        class="btn btn-primary col-2"
        (click)="onAdd(environment.value, trackingId.value, Status.value)"
      >
        Update
      </button>
    </div>
  </form>

  <!-- <div *ngIf="table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="justify-content-center">Enviornment</th>
          <th scope="col">Tracker Id's</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of entries">
          <td>{{ item.environment }}</td>
          <td>{{ item.trackerId }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div>
    {{ json }}
  </div>
</div>
