<p>update works!</p>

<div class="container">
  <form #form1>
    <div class="form-group row justify-content-center">
      <label for="evnviornment" class="col-sm-2 col-form-label"
        >Environment</label
      >
      <div class="col-3">
        <select class="form-control" id="evnviornment" #environment>
          <option>Dev</option>
          <option>qa</option>
          <option>uat</option>
          <option>prod</option>
        </select>
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="trackingId" class="col-sm-2 col-form-label">Tracker Id</label>
      <div class="col-3">
        <input type="Text" class="form-control" id="trackingId" #trackingId />
      </div>
    </div>

    <div class="form-group row justify-content-center">
      <label for="status" class="col-sm-2 col-form-label">Status</label>
      <div class="col-3">
        <input type="Text" class="form-control" id="s" #status />
      </div>
    </div>

    <div *ngIf="hideData" class="form-group row justify-content-start">
      <label
        for="dataJson"
        class="col-sm-2 col-form-label"
        style="margin-left: 331px"
        >Data JSON</label
      >
      <div class="col-3">
        <input
          type="Text"
          class="form-control"
          id="dataJson"
          [(ngModel)]="dataJson"
          name="data"
        />
      </div>
      <button type="button" class="btn btn-danger" (click)="hide_data()">
        Delete
      </button>
    </div>

    <div *ngIf="hideResponse" class="form-group row justify-content-start">
      <label
        for="responseMsg"
        class="col-sm-2 col-form-label"
        style="margin-left: 331px"
        >Response Message</label
      >
      <div class="col-3">
        <input
          type="Text"
          class="form-control"
          id="responseMsg"
          [(ngModel)]="responseMsg"
          name="msg"
        />
      </div>
      <button type="button" class="btn btn-danger" (click)="hide_res()">
        Delete
      </button>
    </div>

    <div *ngIf="hideGroup" class="form-group row justify-content-start">
      <label
        for="groupId"
        class="col-sm-2 col-form-label"
        style="margin-left: 331px"
        >Group Id</label
      >
      <div class="col-3">
        <input
          #gId
          type="Text"
          class="form-control"
          id="groupId"
          [(ngModel)]="groupId"
          name="group"
        />
      </div>
      <button type="button" class="btn btn-danger" (click)="hide_group()">
        Delete
      </button>
    </div>

    <div class="form-group row justify-content-center">
      <button
        type="button"
        style="margin: 2px"
        class="btn btn-primary col-2"
        (click)="onAddMore()"
      >
        Add more
      </button>
      <button
        type="button"
        style="margin: 2px"
        class="btn btn-primary col-2"
        (click)="onAdd(environment.value, trackingId.value, status.value)"
        (click)="clear(form1)"
      >
        Update
      </button>
    </div>
  </form>

  <!-- <div *ngIf="table">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col" class="justify-content-center">Enviornment</th>
          <th scope="col">Tracker Id's</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of entries">
          <td>{{ item.environment }}</td>
          <td>{{ item.trackerId }}</td>
          <td>{{ item.status }}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

  <div>
    {{ json }}
  </div>
</div>
